<%- include('./partials/header.ejs')%>
        <main>
            <h2>About Us</h2>
            <p> &copy;GameUp was founded in 2022 to create a space for everyone to connect with other gamers regardless of their background or previous experience.</p>
        </main>
        <%- include('./partials/footer.ejs')%>