<%- include('./partials/header.ejs')%>
        <main>
            <h2>Contact Us</h2>
            <p>Phone - (704) 556-7890</p>
            <p>Address - 3515 Concord Street, Charlotte, NC </p>
        </main>
        <%- include('./partials/footer.ejs')%>