
<%- include('./partials/header.ejs')%>
        <main>
            <!--Introduction to website-->
            <h2>Welcome to GameUp!</h2>
            <p>GameUp is a place where gamers with varying interests can find and host event to meet like-minded individuals.</p>
            <p>Get started today by clicking on the connections tab!</p>
            <img id="indeximg" src="images/computer.gif" alt="rainbow colored keyboard">
        </main>
        <%- include('./partials/footer.ejs')%>
        
